@font-face {
   font-family: "Core Sans G Regular", "Core Sans G Medium";
   src: url("http://lfranklin.studio.mcad.edu/webdev1/week12/casestudy-yumler/fonts/CoreSansG-Regular.ttf");
   src: url("http://lfranklin.studio.mcad.edu/webdev1/week12/casestudy-yumler/fonts/CoreSansG-Medium.ttf");
   src: url("http://lfranklin.studio.mcad.edu/webdev1/week12/casestudy-yumler/fonts/CoreSansG-Light.ttf");
      }
/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html {
     box-sizing: border-box;
   }

*, *:before, *:after {
     box-sizing: inherit;
   }

 body {
   font-family: "CoreSansG-Regular", sans-serif;
   line-height: 1.4em;
 }

h1, h2, h3 {
  text-transform: uppercase;
}

.btn {
  width: 7em;
  background: #000;
  color: #fff;
}

/* Header Start */

.page-header {
  position: relative;
}

/* Navigation bar */

.page-nav {
  width: 100%;
  height: 4.3750em;
  background: white;
  position: fixed;
  letter-spacing: 0.125em;
}
.page-nav img {
  position: absolute;
  top: 49%;
  left: 50%;
  transform: translate(-50%,-50%);
  max-width: 200px;
}

.page-nav i {
  position: absolute;
  top: 50%;
  right: 5em;
  transform: translate(0, -50%)
}

.page-nav .btn {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  margin: 0;
}

.page-nav ul {
  list-style: none;
  margin: 0;
  padding: 0 2.5em;
  position: absolute;
  top: 50%;
  left: 0em;
  transform: translate(0, -50%)
}

.page-nav li, a {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  color: #000;
  float: left;
  margin-right: 1em;
}

.page-header-hero {
  height: 800px;
  padding-top: 5em;
  text-align: center;
  padding: 5em 10em;
  position: relative;
  z-index: -50;
}

.page-header-hero img {
  padding: 0;
  margin: 0;
  width: 100%;
  z-index: -100;
  position: absolute;
  top: 4.25em;
  left: 0;
}

#hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.page-header-hero h2 {
  font-size: 1.4em;
  letter-spacing: .15em;
}

.page-header-hero h1 {
  font-size: 4.5rem;
  letter-spacing: .6rem;
  line-height: 4rem;
}

.page-header-hero h3 {
  text-transform: none;
  font-size: 1.5em;
  font-weight: normal;
  line-height: 1.5em;
}

#hero-text .btn {
  border:  blue thin solid;

}

.page-header-hero p {
  background-color: #fbc5b8;
  width: 100%;
  padding: 1em 0 1em 0;
  margin: 0;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%,0%);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1em;
  letter-spacing: .15em;

}

/* First How it Works section */

.page-howitworks {
  position: relative;
  margin: 7em 5em 7em 5em;
  z-index: -50;
}

.section-h2 {
  background-color: #000;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.75em;
  letter-spacing: .15em;
  margin: 0;
  height: 2em;
  width: 10em;
  text-align: center;
  padding: 1em 0em 1.5em 0em;
}

.page-howitworks .section-h2 {
  position: absolute;
  top: 0em;
  left: 50%;
  transform: translate(-50%,-80%);
  width: 12em;
}

.page-howitworks h3 {
  letter-spacing: .2em;
  margin: 1.5em 0em;
  font-size: 1.3em;
}

.howitworks-number {
  font-size: 1.8em;
  font-weight: bold;
  background-color: #fbc5b8;
  padding: 10px 15px 9px 15px;
  border-radius: 50%;
  color: #fff;
}

.page-howitworks ul {
  list-style: none;
  margin-top: 5em;
}

.page-howitworks li {
  float: left;
  width: 32%;
  padding: 0em 1em;
  text-align: center;
  font-size: 1.05em;
  font-family: "CoreSansG-Light";
}

/* We Deliver section */

.page-deliver {
  background-color: #ffe532;
  height: 500px;
  position: relative;
  z-index: -50;
}

.page-deliver .section-h2 {
  position: absolute;
  top: 2em;
  left: 25%;
  transform: translate(-55%,0%);
}

.delivery-text {
  position: absolute;
  top: 8em;
  left: 0;
  width: 40%;
  text-align: center;
  margin: 0 3em;
}

.delivery-img {
  width: 50%;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  object-fit: contain;
  display: flex;
  align-items: center;
}

.page-deliver img {
  height: 100%;
  max-width: 100%;
}

.delivery-text h3 {
  color: #fff;
  font-size: 30px;
  letter-spacing: .15em;
  line-height: 1.5em;
  margin: 1em 2em;
}

.delivery-text p {
  font-size: 18px;
  line-height: 1.5em;
}

.postcodes {
  border: 2px black solid;
  font-weight: bold;
  text-align: center;
  float: left;
  width: 20%;
  padding: .5em 0;
  margin: 1em;

}
/* Our Mission section */

.mission-header {
  float: left;
  height: 900px;
  width: 49%;
  background-image: url("../img/yellowstripe-bg.jpg");
  background-size: cover;
  margin-right: 1em;
  margin-bottom: 0;
  padding: 0;
  position: relative;
  z-index: -50;
}

.mission-header .section-h2 {
  position: absolute;
  top: 2em;
  left: 2.5em;
}

.mission-text {
  float: left;
  width: 44%;
  margin: 2em;
  margin-bottom: 0em;
}

.mission-text h3 {
  font-size: 2em;
  letter-spacing: .2em;
  position: relative;
  display: inline-block;
  z-index: -30;
  margin: 1em 0em 0em 0em;
}

.mission-text h3::after {
  content: '';
  position: absolute;
  right: 0;
  left: 0;
  bottom: -.2em;
  height: .5em;
  background: #fbc5b8;
  z-index: -20;
}

.mission-text p {
  font-family: "CoreSansG-Light";
  font-size: 1.15em;
  line-height: 1.5em;
}

/* How It works Steps */


.page-hiw-steps {
  background: #fbc5b8;
  padding: 8em 6em 6em 6em;
  position: relative;
  z-index: -50;
}

.page-hiw-steps .section-h2 {
  position: absolute;
  transform: translate(-50%,0%);
  top: 2em;
  left: 50%;
  width: 12em;
}

.hitw-float {
  float: left;
  width: 45%;
  height: 400px;
  margin: 3em 1em 3em 1em;
}

.page-hiw-steps img {
  width: 500px;
}

.hitw-float h3 {
  font-size: 1.8em;
  letter-spacing: .15em;
  padding: 20px 0 0 20px;
}

.hitw-float p {
  font-family: "CoreSansG-Light";
  font-size: 1.1em;
  line-height: 1.5em;
  padding: 20px 0 0 20px;
}

/* Footer */

.page-footer {
  background-color: #000;
  height: 150px;
  position: relative;
  letter-spacing: .2em;
}

.page-footer a {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  color: #fff;
  float: left;
  margin-right: .5em;
}

.footer-top {
  font-size: 1em;
  position: absolute;
  top: 4em;
  left: 50%;
  transform: translate(-50%, -50%);
}

.footer-bottom {
  font-size: .3em;
  position: absolute;
  top: 14em;
  left: 50%;
  transform: translate(-50%, -50%);
}

.footer-bottom a {
  color: #a6a6a6;
  letter-spacing: .15em;
  padding: 0em 1em 0em 1em;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
